.block{
  /* display: inline; */
  max-width: 1440px;
  /* max-height: 500px; */
  background-color: white;
  border-radius: 20px;
  display: flex;
  /* justify-content: center; */
  width: 40vw;
  /* margin:20vh 30vw 20vh 20vw; */
}
.image img{
  border-radius: 20px 0 0 20px;
  width: 20vw;
  height: auto;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: auto; */
  margin-left: 2vw;
  margin-right: 2vw;


}
.price{
  display: flex;
}
.category{

}
.name{
  font-family:'Times New Roman', Times, serif;
 font-weight: 700;
}
.desc{

}
.btn-container{
  display: flex;
  justify-content: center;

  color: hsl(158,36%,37%);
}

.btn-container:hover{
  cursor: pointer;
}
